* {
  background-color: #ff9e28;
  font-family: "Comic Sans Ms";
}
body {
  /* border: 2px solid black; */
  border-radius: 50%;
  padding: 0px;
  padding-bottom: 15px;
  margin: 15%;
  color: black;
  background-color: black;
  text-align: center;
}
button {
  color: black;
  border: black;
}
button:hover {
  background-color: green;
}
